.usercard {
  padding-bottom: 20px;
  text-align: center;
  margin: 0;
}

img.card-img-top {
  height: 250px;
  width: auto;
  border-radius:4px;
  padding: 0px;
  margin: 0px;
}

h1.users-index{
  font-weight: bold;
}
