.usercard {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

img.imageUsers {
  height: 200px;
  width: auto;
  border-radius: 2px;
}

img.charityImage {
  height: 100px;
  width: auto;
}
