@import "variables";
@import "structure";
@import "buttons";
@import "userIndex";

@import "modules/navbar";

@import "partials/home";
@import "partials/languages";
@import "partials/usersShow";
@import "partials/usersEdit";
@import "partials/languagesindex";

.iquestion-inner_border {
    border: 1px solid #f9f9f9;
    position: relative;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 4px;
}

.iquestion-inner {
  margin: 10px;
    border: 1px solid #cecece;
    color: #8d8d8d;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 4px;
}

// .iquestion-info {
//   background: red;
//   width: 70px;
//   height: 70px;
//   position: absolute;
//   to
// }

.iquestion-icon{
    background: black;
    background-size: 71px 71px;
    border-radius: 100%;
    border: 2px solid $bg-color;
    height: 50px;
    width: 50px;
    left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    -webkit-box-shadow: 0px 1px 80px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 80px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 80px -16px rgba(0,0,0,0.75);
}

.glyphicon-check{
  background: $primary-color;
}
.iquestion-info {
    background: #fff;
    padding: 35px 30px 25px 50px;
}

.glyphicon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 20px;
}

.iquestion-info_body {
    color: #284d81;
    font-size: 24px;
    line-height: 1.25em;
    margin-bottom: 5px;
}

.color {
  background: #3b67a7;
}


pre {
    display: block;
    /* padding: 9.5px; */
    /* margin: 0 0 10px; */
    font-size: 15px;
    line-height: 1.42857143;
    color: #3dc58b;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #eee;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
}


.btn {
    display: inline-block;
    /* padding: 6px 12px; */
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    /* text-align: center; */
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: auto;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@import "partials/register";

@import "partials/login";
@import "partials/logindropdown";
@import "partials/questionshow";
