
<div class="container">
  <div class="span3 well">
    <center>
      <a data-toggle="modal" data-target="#myModal"><img alt="{{ userShow.user.name }}" src="{{ userShow.user.image }}" name="aboutme" width="140" height="140" class="img-circle"></a>
      <h3>{{ userShow.user.name }}</h3>
      <h4 class="media-heading">GitHub: {{userShow.user.github}}</h4>
      <h4 class="media-heading"><small>Email: {{userShow.user.email}}</small></h4>
      <h4 class="media-heading"><small>Languages: {{userShow.user.language}}</small></h4>
      <h4 class="media-heading"><small>About Me: {{userShow.user.about}}</small></h4>
      <h4 class="media-heading"><small>Charity: {{userShow.user.charity.charityDisplayName}}</small></h4>
      <img class="charityImage" src="{{userShow.user.charity.logoUrl}}" alt="">
      <p>{{userShow.user.charity.description}}</p>
      <button ng-if="userShow.isCurrentUser()" class="btn btn-primary" ui-sref="userEdit">Edit</button>
      <button ng-if="userShow.isCurrentUser()" class="btn btn-warning" ng-click="userShow.delete()">Delete</button>

      <!-- So users can not delete/edit other users -->
    </center>
  </div>

  <div class="questionsOnProfile">
    <h4>Questions:</h4>
    <h6 class="mb-1" ng-repeat="question in userShow.user.questions">
      <p ui-sref="questionsShow({id: question._id})">{{ question.title}} </p>
    </h6>
  </div>
</div>
