<section>
  <div class="row">
    <h1 class="languages-index">Choose your technology:</h1>
    <div class="col-md-2" ng-repeat="language in languageIndex.languages">
      <a href="#" class="list-group-item language-list list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">

          <li id="languages-scss" class="mb-1" ui-sref="languagesShow({id: language._id})"> <i class="{{ language.icon }}"></i></li>
        </div>
      </a>
    </div>
  </div>
</section>
