<div class="container">
  <div class="span3 well col-sm-5 col-xs-12">
    <center>
      <div class="circle" style="background-image: url({{ userShow.user.image }})"></div>
      <h3>{{ userShow.user.name }}</h3>
      <h4 class="media-heading">GitHub: {{userShow.user.github}}</h4>
      <h4 class="media-heading"><small><span>Email: </span>{{userShow.user.email}}</small></h4>
      <h4 class="media-heading"><small><span>Languages: </span>{{userShow.user.language}}</small></h4>
      <h4 class="media-heading"><small><span>About Me: </span>{{userShow.user.about}}</small></h4>


      <center>
        <button ng-if="userShow.isCurrentUser()" class="btn btn-primary" ui-sref="userEdit">Edit</button>
        <button ng-if="userShow.isCurrentUser()" class="btn btn-warning" ng-click="userShow.delete()">Delete</button>
      </center>

    </center>
  </div>

  <div class="span3 well col-sm-6 col-sm-offset-1 col-xs-12">
    <center>
      <h4 class="media-heading"><small>Charity: {{userShow.user.charity.charityDisplayName}}</small></h4>
      <img class="charityImage" src="{{userShow.user.charity.logoUrl}}" alt="">
      <p>{{userShow.user.charity.description}}</p>
    </center>
  </div>


  <!-- So users can not delete/edit other users -->


  <div class="span3 well col-sm-6 col-sm-offset-1 col-xs-12">
    <div class="questionsOnProfile">
      <h4>Questions:</h4>
      <h6 class="mb-1 userShowQuestions" ng-repeat="question in userShow.user.questions">
        <p class="questionsOnProfile" ui-sref="questionsShow({id: question._id})">
          <span class="glyphicon glyphicon-circle-arrow-right"></span> {{ question.title }} </p>
        </h6>
      </div>
    </div>
  </div>
