<h1>Languages</h1>
  <div class="list-group" ng-repeat="language in languageIndex.languages">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{language.name}}</h5>
      <small>{{}}</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>

<!-- "object:9"
_id
:
"588f8c407ae62891cb2c2224"
bio
:
"I have been a web developer for 1 year working for the   government"
charity
:
""
email
:
"gigi@gmail.com"
github
:
"gigi_loves_coding"
image
:
"gigi.png"
name
:
"Gigi"
questions
:
Array[0]
role
:
"user"
__proto__
:
Object
1
:
Resource
$promise
:
Promise
$resolved
:
true
length
:
2
__proto__
:
Array[0] -->
﻿

​
