<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Get help with your code.</h1>
    <h2 class="headline2"> Earn money for charity.</h2>
  </div>
</div>

<div class="container">
  <div class="col-md-4">
  <li>User 1: Post your coding question and how much it's worth to you. Now that we have coded our circle, we can apply some different types of fills. If you’d like to add a stroke to your circle, it’s as easy as adding a border selector to our CSS. I’d recommend keeping your border width no bigger than 3px. The rendering of the stroke looks odd any thicker to that due to how the browser renders it.</li>
</div>
  <div class="col-md-4">
    <li>User 2: Submit your solutions.</li>
</div>
  <div class="col-md-4">
    <li>If User 2's solution is selected, user 1 will donate to the charity of their choice.</li>
</div>
</div>
