<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Get help with your code.</h1>
    <h2 class="headline2"> Earn money for charity.</h2>
  </div>
</div>

<div class="container">
  <div class="col-md-4">
    <div class="info-container">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <h4>Title</h4>
      <p>User 1: Post your coding question and how much it's worth to you.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-container">
      <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
      <h4>Title</h4>
      <p>User 2: Submit your solutions.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-container">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <h4>Title</h4>
      <p>If User 2's solution is selected, user 1 will donate to the charity of their choice.</p>
    </div>
  </div>
</div>
