<section class="container">
<h1 class="register">Register</h1>
<p>Register below to get help and earn money for the charity of your choice!</p>
<div>
<form ng-submit="register.register()">
  <div class="form-group">
    <input class="form-control" type="text" name="username" ng-model="register.user.name" placeholder="Name">
  </div>

  <div class="form-group">
    <input class="form-control" type="email" name="email" ng-model="register.user.email" placeholder="Email">
  </div>

  <div class="form-group">
    <input class="form-control" type="text" name="Image" ng-model="register.user.image" placeholder="Image">
  </div>

  <div class="form-group">
    <input class="form-control" type="github" name="github" ng-model="register.user.github" placeholder="Github">
  </div>

  <div class="form-group">
    <input class="form-control" type="text" name="language" ng-model="register.user.language" placeholder="Coding Language">
  </div>

  <div class="form-group">
    <textarea class="form-control" type="text" name="about" ng-model="register.user.about" placeholder="About me"></textarea>
  </div>
  <div ng-hide="register.charitiesList" class="charityselector form-group">
    <div class="col-xs-4">
    <input placeholder="Search for charities" ng-model="register.charitySearch" type="search" name="charitysearch" class="form-control" ></div>
    <button ng-click="register.searchCharities()" type="button" name="button" class="btn btn-primary">Search</button><br>
  </div>
  <div ng-show="register.charitiesList" class="charityselector form-group">
    <select name="charitylistchoice" ng-model="register.user.charity">
      <option placeholder="Select charity" ng-repeat="charity in register.charitiesList" value="{{charity.charityId}}">{{charity.charityDisplayName}}</option>
    </select>
    <button ng-click="register.restartSearch()" type="button" name="button" class="btn btn-primary">Search again</button><br>
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="password" ng-model="register.user.password" placeholder="Password">
  </div>

  <div class="form-group">
    <input class="form-control" type="password" name="passwordConfirmation" ng-model="register.user.passwordConfirmation" placeholder="Password confirmation">
  </div>

  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
</div>
</section>
