<h1>{{QuestionsShow.question.title}}</h1>
<h5>{{QuestionsShow.question.owner.name}}</h5>
<p>{{QuestionsShow.question.description}}</p>

<h2>Answers:</h2>
<ul>
  <li ng-repeat="answer in QuestionsShow.question.answers">
    <h4>{{answer.description}}</h4>
    <p ng-repeat="answer in QuestionsShow.question.answers.owner.name"></p>
    <h6>{{QuestionsShow.question.owner.name}}</h6>
  </li>
</ul>

<form ng-submit="QuestionsShow.submitAnswer()">
  <div class="form-group">
    <label for="title">Answer</label>
    <input type="text" class="form-control" id="answer" placeholder="Write your answer here" ng-model="QuestionsShow.newAnswer.description">
  </div>
  <input type="submit" name="button" />
</form>
