<h1>{{QuestionsShow.question.title}}</h1>
<h5>{{QuestionsShow.question.owner.name}}</h5>
<p>{{QuestionsShow.question.description}}</p>
<p>{{QuestionsShow.question.coins}}</p>

<p ng-bind-html="QuestionsShow.question.description"></p>

<h2>Post Answer</h2>
<form ng-submit="QuestionsShow.submitAnswer()" class="clearfix">
  <div class="row">
    <div class="container">
      <h3>Code Editor</h3>
      <div ta-toolbar="[['bold','italics'],['pre'], ['insertLink']  ]" text-angular="text-angular" name="description" ng-model="QuestionsShow.newAnswer.description"></div>
    </div>
  </div>
  <input type="submit" class="btn btn-primary pull-right" />
</form>

<hr>

<h2>Answers:</h2>
<ul>
  <li class="question-show" ng-repeat="answer in QuestionsShow.question.answers">
      <div class="row">
        <div class="container border_answer_box">
          <div text-angular="text-angular" name="description" ng-bind-html="answer.description"></div>
        </div>
        <button type="button" name="button" ng-if="QuestionsShow.currentUser()._id === QuestionsShow.question.owner._id">Better</button>
      </div>
  </li>
</ul>
