$bg-color:      #f5f2ed;
$dark-primary-color: #039A59;
$primary-color: #3dc58b;
$font-color:    #333333;
$white:         #ffffff;
$black:         #161616;
$border:        #bababa;

$logo-font:     'Khula', sans-serif;
