.jumbotron {
  background: $primary-color;
  color: $white;
  text-align: center;
  padding: 6rem;
}

ul.howItWorks {
  list-style-type: none;
  margin: 0 auto;

  .box1, .box2, .box3 {
  text-align: center;
  margin-left: 35px;
  margin-right:35px;
  display: inline;
  float: left;
  border-radius: 50%;
  background-color: $primary-color;
  width: 220px;
  height: 220px;
  }

}
