.jumbotron {
  background: $primary-color;
  color: $white;
  text-align: center;
  padding: 6rem;

h1.display-3 {
  margin-bottom: 0px;
}

  .headline2 {
    font-size: 5rem;
    padding-top: 0px;
  }
}


.col-md-4 {
  // border-radius: 50%;
  // background-color: $primary-color;
  // width: 33%;
  // height: 250px;

  .info-container {
    text-align: center;
    vertical-align: middle;
    height: 200px;

    .homepage-span {
      position: relative;
      left: 8px;
      top: 10px;
      margin: 0 auto;
      text-align: center;
      font-size: 40px;
      color: #333;
    }
  }
}



a {
  cursor: pointer; cursor: hand;
}

p.navbar-text {
  cursor: pointer; cursor: hand;
}
