.loginDropdown {
  display: none;
  &.showing {
    display: block;
    background: white;
    border: 2px solid #3dc58b;
    position: absolute;
    z-index: 10;
    right: 60px;
    padding: 3px;
    padding-right: 30px;
    width: 300px;
    border-radius: 14px;
    margin-top: 14px;
    margin-right: -56px;
    input {
      padding: 4px;
      margin: 10px 14px;
    }
  }
}

input.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty {
  border-top: 1px solid #3dc58b;
}
