h2.newQuestion{
  text-align: center;
  font-weight: bold;
}

.question-new {
  padding: 0px;
}

h3.QuestionAskBelow {
  margin-top: 80px;
  font-weight: bold;
}

div.form-group.col-md-2.question-new {
  margin-left: 15px;
}

div.ta-scroll-window.ng-scope.ta-text.ta-editor.form-control{
  border-radius: 6px;
}
