h2.users-edit {
  text-align: center;
  font-weight: bold;
}

input.btn.btn-default{
  background: #3dc58b;
  border: 1px solid #ffffff;
  padding: 6px 20px;
  color: #ffffff;
}

input.btn.btn-default:hover{
  background: #039A59;
  border: 1px solid #ffffff;
}
