button.btn.btn-warning.ng-scope{
  background: #ffffff;
  color:#3dc58b;
  border: 1px solid #3dc58b;
}

button.btn.btn-primary.ng-scope{
  background: #3dc58b;
  border: 1px solid #ffffff;
  padding: 6px 20px;
}
