button.btn.btn-warning.ng-scope{
  background: #ffffff;
  color:#3dc58b;
  border: 1px solid #3dc58b;
}


button.btn.btn-primary.ng-scope{
  background: #3dc58b;
  border: 1px solid #ffffff;
  padding: 6px 20px;
}

a.btn.btn-primary:hover{
  background: #039A59;
  border: 1px solid #ffffff;
}


.charityImage {
  height: 80px;
  width: auto;
  margin: 10px;
}

div.container {
  margin-top: 20px;
}

.questionsOnProfile {
  text-align: left;

}

.wantLeft {
  text-align: left;
}
