<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Get help with your code.</h1>
    <h2 class="headline2"> Earn money for charity.</h2>
  </div>
</div>

<div class="container">
  <div class="col-md-4">
    <div class="info-container">
      <span class="glyphicon glyphicon-comment homepage-span" aria-hidden="true"></span>
      <h4>Got a question?</h4>
      <p>Have a tricky code question and also want to give to charity? CodeFund let's you do both. Post a question with a fixed incentive, and wait as the answers come rolling in... </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-container">
      <span class="glyphicon glyphicon-blackboard homepage-span" aria-hidden="true"></span>
      <h4>Got the answer?</h4>
      <p>Help out the coding community and do good in the world. Answer other users' questions to try and be chosen as the successful solver of their problem.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-container">
      <span class="glyphicon glyphicon-thumbs-up homepage-span" aria-hidden="true"></span>
      <h4>Charity Payment</h4>
      <p>Register today and select the charity you want to support.
        Successfully chosen answers will be rewarded with donations to that charity on your behalf!</p>
    </div>
  </div>
</div>
